:root{
    --background-image: url(../media/background_image.jpg);
}

body{
    /* height: 80vh; */
    background-image: var(--background-image);
    background-size: cover;
    overflow: hidden;
    /* background-repeat: no-repeat; */
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    color: white;
}


input[type = "text"]::placeholder{
    text-align: center;
}

input[type = "text"]{
    border-radius: 20px;
    border-width: 0px;
    width: 450px;
    height: 50%;
}

nav{
    position:fixed;
    display: flex;
    justify-content: space-evenly;
    /* background-color: teal; */
    top: 2%;
    width: 100%;
    left: 0;
    margin: 0;
    align-content: center;
    z-index: 6;
    /* top: 0; */
}

footer{
    position: fixed;
    left: 0;
	bottom: 1px;
	width: 100%;
	height: 60px;
	/* background-color: rgb(1, 1, 61); */
	background-color: black;
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    top: 9vh;
    height: 80vh;
    
}

.main1{
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
    /* background-color: brown; */
}

.main1::-webkit-scrollbar{
    display: none;
}

.main1-heading{
    background-color: darkblue;
    display: flex;
    align-items: center;
}
.main1-heading-img{
    width: 25%;
}

.main1-heading-content{
    /* background-color: darkgoldenrod; */
    margin-left: 5%;
    width: 70%;
    height: 34vh;
    color: white;
}

.main1-list{
    color: white;
}
.list-item{
    background-color: darkslateblue;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    transition: all ease-in 0.05s;
}
.music-details{
    width: 20%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.list-item:hover{
    opacity: 0.5;
}


/* ----------------****************------------------- */
.main2{
    grid-column: span 1;
    grid-row: span 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
}

.main2::-webkit-scrollbar{
    display: none;
}


.main2-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* gap: 10px; */
}


.main2-list-item{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: 10px;
}

.main2-list-item:hover{
    background-color: darkslateblue;
}

/* ---------------****************--------------------- */
.main3{
    grid-column: span 1;
    grid-row: span 2;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
}

.main3::-webkit-scrollbar{
    display: none;
}


.main3-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* gap: 10px; */
}


.main3-list-item{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: 10px;
    background-color: darkslateblue;
}


/* -------------------********************-------------------- */


#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.time {
	margin: 0px 10px;
}

.slidecontainer {
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.slider:hover {
	opacity: 1;
}